<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PRJ321x-A3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SearchController</display-name>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>controller.product.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/SearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartController</display-name>
    <servlet-name>AddToCartController</servlet-name>
    <servlet-class>controller.AddToCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartController</servlet-name>
    <url-pattern>/addToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InformationProductController</display-name>
    <servlet-name>InformationProductController</servlet-name>
    <servlet-class>controller.InformationProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InformationProductController</servlet-name>
    <url-pattern>/description</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayController</display-name>
    <servlet-name>PayController</servlet-name>
    <servlet-class>controller.PayController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayController</servlet-name>
    <url-pattern>/PayController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchController2</display-name>
    <servlet-name>SearchController2</servlet-name>
    <servlet-class>controller.SearchController2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController2</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListController</display-name>
    <servlet-name>ListController</servlet-name>
    <servlet-class>controller.product.ListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListController</servlet-name>
    <url-pattern>/paging</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginControl</display-name>
    <servlet-name>LoginControl</servlet-name>
    <servlet-class>controller.LoginControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginControl</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterControl</display-name>
    <servlet-name>RegisterControl</servlet-name>
    <servlet-class>controller.RegisterControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterControl</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertDB</display-name>
    <servlet-name>InsertDB</servlet-name>
    <servlet-class>controller.InsertDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertDB</servlet-name>
    <url-pattern>/insertToDS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateInfo</display-name>
    <servlet-name>UpdateInfo</servlet-name>
    <servlet-class>controller.UpdateInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateInfo</servlet-name>
    <url-pattern>/updateInfo</url-pattern>
  </servlet-mapping>
</web-app>